<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>献血ナビ</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>
    <link rel="stylesheet" href="../static/css/subsub.css">
    <script type="text/javascript">
        $(function(){
            var countElm = $('.count'),
                duration = 2000; // 2秒でカウントアップを完了させる

            countElm.each(function(){
                var self = $(this),
                    countMax = parseFloat(self.attr('data-count')), // data-numから最大値を取得
                    thisCount = 0, // 初期値
                    frameRate = 60, // 1秒間に60フレーム（約16msごとに更新）
                    totalFrames = (duration / 1000) * frameRate, // 2秒間に何回更新するか
                    increment = countMax / totalFrames, // 1フレームごとの増加量
                    countTimer;

                function timer() {
                    countTimer = setInterval(function(){
                        thisCount += increment; // 増加量を追加
                        self.text(Math.floor(thisCount)); // 表示は整数にする

                        if (thisCount >= countMax) { // カウントが最大値を超えたら終了
                            self.text(countMax); // 最終値を正確に表示
                            clearInterval(countTimer);
                        }
                    }, 1000 / frameRate); // 毎秒60回更新
                }
                timer();
            });
        });
    </script>
</head>
<body>
    <header>
        <img src="../static/images/logo.png" alt="Image description" />
        <div class="header-items">
                <ul>
                    <li><a class="header-item" href="/about">このサイトについて</a></li>
                    <li><a class="header-item" href="/about">お問い合わせ</a></li>
                </ul>
                <div class="hamburger-menu">
                    <input type="checkbox" id="overlay-input" />
                    <label for="overlay-input" id="overlay-button">
                    <span></span>
                    </label>
                    <div id="overlay">
                        <ul>
                            <li><a href="/">トップページ</a></li>
                            <li><a href="/about">このサイトについて</a></li>
                            <li><a href="/about">お問い合わせ</a></li>
                        </ul>
                    </div>
                </div>
        </div>
    </header>
    <ol class="breadcrumb">
        <li><a href="/">TOP</a></li>
        <li><a href="/nationwide">全国</a></li>
        <li>{{prefecture_name}}</li>
    </ol>
    <div class="main-content">
        <h1>献血者数予測AI</h1>
        <p class="content-detail">({{prefecture_name}} | {{update}}更新)</p>
        <section class="predict">
            <div class="box">
                <p>グラフをご覧いただく際の注意点：
                    <br>
                    縦軸（Y軸）のベースラインは500から始まっており、小さな変化でも大きく見える場合があります。データの正確な理解のため、数値そのものも併せてご確認ください。
                    <br>
                    ご利用のデバイスによっては、横軸（X軸）の比率が異なり、グラフの見た目に違いが生じることがあります。表示内容にズレがある場合は、PCやタブレットなど、異なるデバイスでご確認いただくことをお勧めします。
                </p>
                    <div class="chart-container">
                        <canvas id="lineChart"></canvas>
                        <script>
                            var ctx = document.getElementById('lineChart').getContext('2d');
                            var months = {{ months | tojson }};
                            var data1 = {{ data1 | tojson }};
                            var data2 = {{ data2 | tojson }};
                            var data3 = data1.slice(-3);
                            var lastThreeMonths = months.slice(-3);

                            var myChart = new Chart(ctx, {
                                type: 'bar',
                                data: {
                                    labels: months,
                                    datasets: [
                                        {
                                            label: 'Last 3 Data Points',  // data3のラベル
                                            type: 'line',
                                            data: [...Array(months.length - 3).fill(null), ...data3],
                                            borderColor: 'blue',
                                            borderWidth: 4,
                                            tension: 0.3
                                        },
                                        {
                                            label: 'Real Data',
                                            type: 'line',
                                            data: data1,
                                            borderColor: 'orange',
                                            tension: 0.1,
                                            fill: false  // 塗りつぶしなし
                                        },
                                        {
                                            label: 'Predicted Data',
                                            type: 'bar',
                                            data: data2,
                                            backgroundColor: 'lightblue',
                                            borderColor: 'lightblue',
                                            borderWidth: 1
                                        }
                                    ]
                                },
                                options: {
                                    responsive: true,
                                    maintainAspectRatio: false,
                                    scales: {
                                        y: {
                                            beginAtZero: true
                                        }
                                    }
                                }
                            });
                        </script>
                    </div>
            </div>
        </section>
        <h1>現在の献血状況</h1>
        <p class="content-detail">({{prefecture_name}} | {{update}}更新)</p>
        <section class="status">
            <div class="box">
                <h2>400mL</h2>
                <div class="inner-box-container">
                    <div class="inner-box" style="background-color: {{a4_col}};">
                        <p class="status-type">A型</p>
                        <p>{{a4}}</p>
                    </div>
                    <div class="inner-box" style="background-color: {{o4_col}};">
                        <p class="status-type">O型</p>
                        <p>{{o4}}</p>
                    </div>
                    <div class="inner-box" style="background-color: {{b4_col}};">
                        <p class="status-type">B型</p>
                        <p>{{b4}}</p>
                    </div>
                    <div class="inner-box" style="background-color: {{ab4_col}};">
                        <p class="status-type">AB型</p>
                        <p>{{ab4}}</p>
                    </div>
                </div>
            </div>
            <div class="box">
                <h2>200mL</h2>
                <div class="inner-box-container">
                    <div class="inner-box" style="background-color: {{a2_col}};">
                        <p class="status-type">A型</p>
                        <p>{{a2}}</p>
                    </div>
                    <div class="inner-box" style="background-color: {{o2_col}};">
                        <p class="status-type">O型</p>
                        <p>{{o2}}</p>
                    </div>
                    <div class="inner-box" style="background-color: {{b2_col}};">
                        <p class="status-type">B型</p>
                        <p>{{b2}}</p>
                    </div>
                    <div class="inner-box" style="background-color: {{ab2_col}};">
                        <p class="status-type">AB型</p>
                        <p>{{ab2}}</p>
                    </div>
                </div>
            </div>
            <div class="box">
                <h2>成分献血</h2>
                <div class="inner-box-container">
                    <div class="inner-box" style="background-color: {{ac_col}};">
                        <p class="status-type">A型</p>
                        <p>{{ac}}</p>
                    </div>
                    <div class="inner-box" style="background-color: {{oc_col}};">
                        <p class="status-type">O型</p>
                        <p>{{oc}}</p>
                    </div>
                    <div class="inner-box" style="background-color: {{bc_col}};">
                        <p class="status-type">B型</p>
                        <p>{{bc}}</p>
                    </div>
                    <div class="inner-box" style="background-color: {{abc_col}};">
                        <p class="status-type">AB型</p>
                        <p>{{abc}}</p>
                    </div>
                </div>
            </div>
        </section>
        <h1>数字で見る献血事業</h1>
        <p class="content-detail">({{prefecture_name}} | {{update}}更新)</p>
        <section class="data">
            <div class="box">
                <h2>これまで献血に協力していただいた人数</h2>
                <div class="image-container">
                    <img src="../static/images/data-people.png" alt="Image description" />
                </div>
                <p><span class="count" data-count="{{total_blood_donors}}">0</span>人</p>
            </div>
            <div class="box">
                <h2>これまでに献血された血液の総量</h2>
                <div class="image-container">
                    <img src="../static/images/data-blood.png" alt="Image description" />
                </div>
                <p><span class="count" data-count="{{total_blood}}">0</span>kL</p>
            </div>
            <div class="box">
                <h2>献血ルームの総数</h2>
                <div class="image-container">
                    <img src="../static/images/data-room.png" alt="Image description" />
                </div>
                <p><span class="count" data-count="{{total_room}}">0</span>箇所</p>
            </div>
        </section>
    </div>
    <footer>
    <ul class="footer-items">
        <li><a class="footer-item" href="/about">このサイトについて</a></li>
        <li><a class="footer-item" href="/abbout">お問い合わせ</a></li>
        <li><a class="footer-item" href="/about">使用しているデータについて</a></li>
    </ul>
        <p class="copyright">© 2024 献血ナビ</p>
    </footer>
</body>
</html>
