* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 15px;
  background-color: #f4f4f4;
}

li {
  text-decoration: none;
  list-style: none;
}

a {
  text-decoration:none;
}

header {
  background-color: #fff;
  padding: 20px 10%;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-items {
  display: flex;
}

.header-items ul {
  display: flex;
}

.header-item {
  font-weight: bold;
  color: #333;
  float: left;
  display: flex;
  text-align: center;
  padding-left: 15px;
}

.header-item:hover {
  color: #FF5050;
}

/* オーバーレイボタン */
#overlay-button {
  display: none;
  position: absolute;
  right: 2em;
  top: 25px; /* ヘッダーの上下中央に配置 */
  padding: 26px 11px;
  z-index: 999;
  cursor: pointer;
  user-select: none;
}

#overlay-button span {
  height: 4px;
  width: 35px;
  border-radius: 2px;
  background-color: #fff;
  position: relative;
  display: block;
  transition: all 0.2s ease-in-out;
}

#overlay-button span:before {
  top: -10px;
  visibility: visible;
}

#overlay-button span:after {
  top: 10px;
}

#overlay-button span:before,
#overlay-button span:after {
  height: 4px;
  width: 35px;
  border-radius: 2px;
  background-color: #fff;
  position: absolute;
  content: "";
  transition: all 0.2s ease-in-out;
}

/* メニューが表示されていないときにメニューボタンを黒に */
input[type="checkbox"]:not(:checked) ~ #overlay-button span,
input[type="checkbox"]:not(:checked) ~ #overlay-button span:before,
input[type="checkbox"]:not(:checked) ~ #overlay-button span:after {
  background: #333;
}

#overlay-button:hover span,
#overlay-button:hover span:before,
#overlay-button:hover span:after {
  background: #fff;
}

/* チェックボックスとオーバーレイ処理 */
input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked ~ #overlay {
  visibility: visible;
  opacity: 1;
}

input[type="checkbox"]:checked ~ #overlay-button:hover span,
input[type="checkbox"]:checked ~ #overlay-button span {
  background: transparent;
}

input[type="checkbox"]:checked ~ #overlay-button span:before {
  transform: rotate(45deg) translate(7px, 7px);
}

input[type="checkbox"]:checked ~ #overlay-button span:after {
  transform: rotate(-45deg) translate(7px, -7px);
}

/* オーバーレイメニュー */
#overlay {
  height: 100%;
  width: 100%;
  background: rgba(255, 80, 80, 0.9);
  z-index: 998;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s ease;
}

#overlay ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 100%;
  padding-left: 0;
  list-style-type: none;
}

#overlay ul li {
  padding: 1em;
}

#overlay ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.5em;
}

#overlay ul li a:hover {
  color: #333 !important;
}

.top-wrapper {
  padding: 0 0 750px 0;
  background-image: url(../images/top-wrapper.jpg);
  background-size: cover;
  position: relative;
}

.top-wrapper h1 {
  position: absolute;
  bottom: 100px;
  right: 10%;
  margin: 0;
  font-size: 60px;
  font-weight: normal;
  color: #fff;
}

.title {
  opacity: 0;
  filter: blur(10px);
  animation: letter-glow 0.7s 0s ease both, blur 2s 0s ease both;
  font-size: 200%;
  animation-delay: 1.5s;
}

.is-act .title{
  opacity: 0;
  filter: blur(10px);
  animation: letter-glow 0.7s 0s ease both, letter-blur 2s 0s ease both;
  font-size: 200%;
  animation-delay: 1.5s;
}

@keyframes letter-glow{
  0%   {
    opacity: 0;
    text-shadow: 0px 0px 1px rgba(255,255,255,0.1);
  }
  55%  {
    opacity: 1;
    text-shadow: 0px 0px 20px rgba(255,255,255,0.9);
  }
  77%   { opacity: 1;  }
  100% {
    opacity:0.7;
    text-shadow: 0px 0px 20px rgba(255,255,255,0.0);
  }
}

  @keyframes blur {
  0% {
    opacity: 0;
    filter: blur(10px);
  }
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  background-color: #FF5050;
  color: #FFF;
  align-items: center;
  padding-left: 10%;
  height: 40px;
}

.breadcrumb li a{
  color: #FFF;
}

.breadcrumb li:not(:last-of-type)::after {
  content: "›";
  margin: 0 .6em;
  color: #FFF; /* 記号の色 */
}

.main-content {
  width: 80%;
  margin: 40px auto;
}

.main-content h1 {
  padding-top: 50px;
  padding-bottom: 10px;
  color: rgba(238, 73, 73, 255);
  text-align: center;
  font-family: "Noto Sans JP";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 5.76px;
}

.main-content .content-detail {
  font-size: 18px;
  color: #333;
  text-align: center;
  padding-bottom: 50px;
}

.service {
  display: flex;
  flex-wrap: wrap; /* 小さい画面では折り返すように */
  justify-content: space-between;
  margin-bottom: 40px;
}

.service .box {
  background-color: #fff;
  flex-basis: 30%;
  text-align: center;
  border: 1px solid #ccc;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.25);
  width: 100%;
  max-width: 600px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.service .image-container {
  height: 50%;
}

.service .image-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  padding-top: 10px;
}

.service .box h2 {
  color: #333;
  font-size: 20px;
  font-weight: 500;
}

.service .box p {
  color: #333;
  margin: 20px 25px;
}

.topics {
  display: flex;
  flex-direction: column;
}

.topics .box {
  background-color: #fff;
  padding: 30px 30px 45px 30px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 400px;
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.topics .box:last-child {
  margin-bottom: 0;
}

.topics .box h2 {
  color: #333;
  font-size: 25px;
  font-weight: 500;
  margin: 20px 0 20px 0;
}

.topics .box p {
  color: #333;
  text-align: left;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: solid 1px #ccc;
}

.jrc-link {
  text-decoration: underline;
  color: #0031D8;
}

a[target="_blank"]:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  content: "\f35d";
  margin: 0 0 0 5px;
}

.about-us .box {
  background-color: #fff;
  padding: 20px;
  text-align: center;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.25);
  height: 600%;
  overflow: hidden;
}

.about-us p {
  color: #333;
  margin: 20px 25px;
}

.about-us .image-container img {
  width: 100%;
  height: 100%;
  max-width: 500px;
  max-height: 500px;
  object-fit: cover;
}

.about-more {
  font-size: 18px;
  font-weight: 500;
  color: #333;
  text-decoration: underline; /* 下線を追加 */
}

.about-more:hover {
  color: rgba(238, 73, 73, 255);
}

/* ---- nationwide ---- */

.predict .box {
  background-color: #fff;
  padding: 20px;
  text-align: center;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.25);
  height: 900px;
  display: flex;
  flex-direction: column;
  align-items: center; /* 子要素を横方向の中央に配置 */
  justify-content: center;
}

.predict p {
  color: #333;
  margin: 20px 25px;
}

#pred-map {
  width: 100%;
  height: 100%;
  max-height: 700px;
  max-width: 900px;
  padding: 10px 2px;
}

.status .box {
  background-color: #fff;
  padding: 20px;
  text-align: center;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.25);
  height: 900px;
  display: flex;
  flex-direction: column;
  align-items: center; /* 子要素を横方向の中央に配置 */
  justify-content: center;
}

.status p {
  color: #333;
  margin: 20px 25px;
}

#status-map {
  width: 100%;
  height: 100%;
  max-height: 700px;
  max-width: 900px;
  padding: 10px 2px;
}

.jmap-infobox p {
  text-align: left;
  margin: 10px 0;
  z-index: 1;
}


.category {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  color: #333;
}

.color-box {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.decrease-large {
  background-color: #4394c3;
}

.decrease-small {
  background-color: #d1e5f0;
}

.increase-small {
  background-color: #fedbc7;
}

.increase-large {
  background-color: #d65f4e;
}

.description {
  font-size: 1em;
}


.data {
  display: flex;
  flex-wrap: wrap; /* 小さい画面では折り返すように */
  justify-content: space-between;
  margin-bottom: 40px;
}

.data .box {
  background-color: #fff;
  flex-basis: 30%;
  text-align: center;
  border: 1px solid #ccc;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.25);
  width: 100%;
  max-width: 600px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.data .image-container {
  height: 40%;
}

.data .image-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.data .box h2 {
  color: #333;
  font-size: 20px;
  font-weight: 500;
  padding: 15px 15px;
}

.data .box .count {
  color: #FF5050;
  font-family: "Montserrat", sans-serif;
  font-size: 3vw;
  font-weight: 650;
  font-style: italic;
  margin: 20px 5px;
}

.data .box p {
  color: #333;
  margin: 20px 8px;
}

/* ---- prefecture ---- */



/* ---- footer ---- */

footer {
  background-color: rgba(238, 73, 73, 255);
  position: relative;
  bottom: 0;
  padding: 20px 20px 2px 20px;
  margin-top: 200px;
  height: 200px;
  width: 100%;
}

.footer-item {
  display: inline-block;
  align-items: center;
  color: #F2F2F2;
  padding: 10px 20px;
}

.footer-item:hover {
  color: #333;
}

.copyright {
  text-align: center;
  color: #F2F2F2;
  font-size: 11px;
  letter-spacing: 0.1em;
}

@media screen and (max-width: 768px) {
  .top-wrapper {
    padding: 0;
    background-image: url(../images/top-wrapper.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    height: 100vh;
    min-height: 400px;
  }
  
  .top-wrapper h1 {
    position: absolute;
    bottom: 10%;
    right: 10%;
    margin: 0;
    font-size: 10vw; /* ビューポートに応じた文字サイズ */
    font-weight: normal;
    color: #fff;
  }

  header {
    height: 75px;
  }

  header img {
    height: 70px;
  }

  #overlay-button {
    display: block; /* メニューボタンを表示 */
    top: 10px;
  }

  .header-items ul {
    display: none;
  }

  .main-content {
    width: 90%;
    margin: 30px auto;
  }

  .main-content h1 {
    padding-top: 50px;
    padding-bottom: 8px;
    color: rgba(238, 73, 73, 255);
    text-align: center;
    font-family: "Noto Sans JP";
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 2px;
  }

  .main-content .content-detail {
    font-size: 18px;
    color: #333;
    text-align: center;
    padding-bottom: 40px;
  }

  .service {
    flex-direction: column; /* 縦に並べる */
    align-items: center;
  }

  .service .box {
    flex-basis: 100%;
    margin-bottom: 20px;
  }

  .service .image-container img {
    max-height: 140px;
    object-fit: scale-down;
  }

  .data {
    flex-direction: column; /* 縦に並べる */
    align-items: center;
  }

  .data .box {
    flex-basis: 100%;
    max-width: 100%;
    margin-bottom: 20px;
  }

  .data .box h2 {
    color: #333;
    font-size: 17px;
    font-weight: 500;
    padding: 15px 15px;
  }

  .data .box .count {
    color: #FF5050;
    font-family: "Montserrat", sans-serif;
    font-size: 10vw;
  }

  .data .image-container img {
    max-height: 140px;
    object-fit: scale-down;
  }

  .topics .box {
    flex-basis: 100%;
    margin-bottom: 20px;
  }
}
