<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/main.css">
    <title>献血ナビ</title>
</head>
<body>
    <header>
    <a href="/"><img src="../static/images/logo.png" alt="Image description" /></a>
    <div class="header-items">
            <ul>
                <li><a class="header-item" href="/about">このサイトについて</a></li>
                <li><a class="header-item" href="/about#contact">お問い合わせ</a></li>
            </ul>
            <div class="hamburger-menu">
                <input type="checkbox" id="overlay-input" />
                <label for="overlay-input" id="overlay-button">
                <span></span>
                </label>
                <div id="overlay">
                    <ul>
                        <li><a href="/">トップページ</a></li>
                        <li><a href="/about">このサイトについて</a></li>
                        <li><a href="/about#contact">お問い合わせ</a></li>
                    </ul>
                </div>
            </div>
    </div>
    </header>
    <div class="top-wrapper">
      <h1 class="title">未来のために、<br>今献血を考える</h1>
    </div>
    <div class="main-content">
      <h1>SERVICE</h1>
        <section class="service">
            <div class="box" onClick="window.location.href='/nationwide';" style="cursor: pointer;">
              <div class="image-container">
                <img src="../static/images/service-ai.png" alt="Image description" />
              </div>
              <h2>献血者数予測AI</h2>
              <p>献血とは、病気の治療や手術で輸血を必要とする人々に命を救うためのボランティアです。</p>
            </div>
            <div class="box" onClick="window.location.href='/nationwide#status';" style="cursor: pointer;">
              <div class="image-container">
                <img src="../static/images/service-map.png" alt="Image description" />
              </div>
              <h2>現在の献血状況</h2>
              <p>献血ルームでの献血の流れについて知りましょう。</p>
            </div>
            <div class="box" onClick="window.location.href='/nationwide#blood_data';" style="cursor: pointer;">
              <div class="image-container">
                <img src="../static/images/service-graph.png" alt="Image description" />
              </div>
              <h2>数字で見る献血</h2>
              <p>AIが3ヶ月先までの献血者数の推移を予測します。</p>
            </div>
        </section>
        <h1>TOPICS</h1>
        <section class="topics">
            <div class="box">
              <h2>献血について</h2>
              <p>当サイトは献血の啓発活動を行うために開設されました。</p>
            </div>
            <div class="box">
              <h2>献血ができる場所を探す</h2>
              <p>使用しているデータについての詳細を確認しましょう。</p>
            </div>
            <div class="box">
              <h2>血液の基礎知識</h2>
              <p>献血に関するお問い合わせはこちら。</p>
            </div>
        </section>
        <h1>ABOUT US</h1>
        <section class="about-us">
            <div class="box">
              <p>私たちは当サイトの運営を通じて、過不足のない献血供給に貢献できることを目指しています。</p>
              <div class="image-container">
                <img src="../static/images/about-us.jpeg" alt="Image description" />
              </div>
              <a class="about-us-more" href="/about#us">詳しく見る</a>
            </div>
        </section>
    </div>

    <footer>
      <ul class="footer-items">
        <li><a class="footer-item" href="/about">このサイトについて</a></li>
        <li><a class="footer-item" href="/about#contact">お問い合わせ</a></li>
        <li><a class="footer-item" href="/about#used">使用しているデータについて</a></li>
      </ul>
      <p class="copyright">© 2024 献血ナビ</p>
    </footer>
</body>
</html>
